/* Table Base
 * @version 7.0.0
 */

.p05-content {
    background: var(--p05-bg-app);
}

.p05-table-wrapper {
    overflow-x: auto;
    background: var(--p05-bg-surface);
    border-radius: var(--p05-radius-md);
    margin: var(--p05-space-section);
    border: 1px solid var(--p05-border-default);
}

.p05-table {
    width: 100%;
    border-collapse: collapse;
    font: var(--p05-font-body-sm);
}
